/*
            /$$
    /$$    /$$$$
   | $$   |_  $$    /$$$$$$$
 /$$$$$$$$  | $$   /$$_____/
|__  $$__/  | $$  |  $$$$$$
   | $$     | $$   \____  $$
   |__/    /$$$$$$ /$$$$$$$/21
          |______/|_______/
================================
        Keep calm and get rich.
                    Is the best.

---------------------------------------------

Author: nicetheme
Author URI: https://www.nicetheme.cn/

*/
/*--------------------------------------------------------------
  ## chatgpt summary
----------------------------------------------------------------*/
.chatgpt-summary {
    position: relative;
    font-size: 14px;
    line-height: 24px;
    padding: 8px;
    margin-bottom: 16px;
    color: var(--gray-8, rgba(0, 0, 0, 0.8));
    background-color: var(--bg-light, rgba(0, 0, 0, 0.1));
    border-radius: var(--border-radius-sm, 8px);
}

.chatgpt-summary .summary-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6px 4px;
    color: var(--gray-6, rgba(0, 0, 0, 0.6));
}

.chatgpt-summary .summary-title span {
    display: flex;
    align-items: center;
    gap: 4px;
}

.chatgpt-summary .summary-title small {
    font-size: 12px;
    opacity: .4;
}

.chatgpt-summary .summary-content {
    border-radius: var(--border-radius-xs, 4px);
    padding: .75rem;
    background-color: #fff;
}

.chatgpt-summary .summary-icon {
    width: 16px;
    height: 16px;
    opacity: .5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0Jz48ZyBmaWxsPSdub25lJyBmaWxsLXJ1bGU9J2V2ZW5vZGQnPjxwYXRoIGQ9J00yNCAwdjI0SDBWMHpNMTIuNTkzIDIzLjI1OGwtLjAxMS4wMDItLjA3MS4wMzUtLjAyLjAwNC0uMDE0LS4wMDQtLjA3MS0uMDM1Yy0uMDEtLjAwNC0uMDE5LS4wMDEtLjAyNC4wMDVsLS4wMDQuMDEtLjAxNy40MjguMDA1LjAyLjAxLjAxMy4xMDQuMDc0LjAxNS4wMDQuMDEyLS4wMDQuMTA0LS4wNzQuMDEyLS4wMTYuMDA0LS4wMTctLjAxNy0uNDI3Yy0uMDAyLS4wMS0uMDA5LS4wMTctLjAxNy0uMDE4bS4yNjUtLjExMy0uMDEzLjAwMi0uMTg1LjA5My0uMDEuMDEtLjAwMy4wMTEuMDE4LjQzLjAwNS4wMTIuMDA4LjAwNy4yMDEuMDkzYy4wMTIuMDA0LjAyMyAwIC4wMjktLjAwOGwuMDA0LS4wMTQtLjAzNC0uNjE0Yy0uMDAzLS4wMTItLjAxLS4wMi0uMDItLjAyMm0tLjcxNS4wMDJhLjAyMy4wMjMgMCAwIDAtLjAyNy4wMDZsLS4wMDYuMDE0LS4wMzQuNjE0YzAgLjAxMi4wMDcuMDIuMDE3LjAyNGwuMDE1LS4wMDIuMjAxLS4wOTMuMDEtLjAwOC4wMDQtLjAxMS4wMTctLjQzLS4wMDMtLjAxMi0uMDEtLjAxeicvPjxwYXRoIGZpbGw9JyMwMDAwMDBGRicgZmlsbC1ydWxlPSdub256ZXJvJyBkPSdNMTIgMmM1LjUyMyAwIDEwIDQuNDc3IDEwIDEwcy00LjQ3NyAxMC0xMCAxMFMyIDE3LjUyMyAyIDEyIDYuNDc3IDIgMTIgMm0xLjY4MyAxMy45NWEyOC40NSAyOC40NSAwIDAgMS0zLjM2NiAwYy4xMzYuNzg2LjMwOSAxLjQ5NC41MSAyLjA5OC4yNTIuNzU2LjUzIDEuMjk2Ljc5IDEuNjI2LjA4OC4xMS4yMjMuMzI2LjM4NS4zMjYuMTQ1LS4wMTMuMzAyLS4yMjcuMzgtLjMyNi4yNi0uMzMuNTM5LS44Ny43OS0xLjYyNmExNC4zNSAxNC4zNSAwIDAgMCAuNTEtMi4wOThabTUuODMtMS4xOTVjLS4yNjUuMTE0LS41NDQuMjE5LS44MzMuMzE1LS44NTIuMjg0LTEuODQ4LjUxMi0yLjk0LjY3YTE3LjE5MSAxNy4xOTEgMCAwIDEtLjY3IDIuOTRjLS4wOTYuMjktLjIwMS41NjgtLjMxNS44MzNhOC4wMjMgOC4wMjMgMCAwIDAgNC43NTgtNC43NThtLTE1LjAyNiAwYTguMDIzIDguMDIzIDAgMCAwIDQuNzU4IDQuNzU4IDEwLjU2NyAxMC41NjcgMCAwIDEtLjMxNS0uODMzIDE3LjE5MSAxNy4xOTEgMCAwIDEtLjY3LTIuOTQgMTcuMTkxIDE3LjE5MSAwIDAgMS0yLjk0LS42N2MtLjI5LS4wOTYtLjU2OC0uMjAxLS44MzMtLjMxNW01LjU4NS00LjY4M2EyNS41MjggMjUuNTI4IDAgMCAwIDAgMy44NTZjMS4yODIuMDk3IDIuNTc0LjA5NyAzLjg1NiAwYTI1LjUzNyAyNS41MzcgMCAwIDAgMC0zLjg1NiAyNS41MjYgMjUuNTI2IDAgMCAwLTMuODU2IDBtNS44NzguMjQ1YTI4LjQ1IDI4LjQ1IDAgMCAxIDAgMy4zNjYgMTQuNDM4IDE0LjQzOCAwIDAgMCAyLjA5OC0uNTFjLjc1Ni0uMjUyIDEuMjk2LS41MyAxLjYyNi0uNzkuMTEtLjA4Ny4zMjYtLjIyNC4zMjYtLjM4NS0uMDEzLS4xNDUtLjIyNy0uMzAyLS4zMjYtLjM4LS4zMy0uMjYtLjg3LS41MzktMS42MjYtLjc5YTE0LjQzOCAxNC40MzggMCAwIDAtMi4wOTgtLjUxWm0tNy45IDBjLS43ODYuMTM2LTEuNDkzLjMwOS0yLjA5OC41MS0uNzU2LjI1Mi0xLjI5NS41My0xLjYyNi43OS0uMjQuMTktLjMxMi4zMzMtLjMyMy4zNjgtLjA0NS4xNS4yMy4zMjMuMzIzLjM5Ny4zMy4yNi44Ny41MzkgMS42MjYuNzkuNjA1LjIwMiAxLjMxMi4zNzUgMi4wOTguNTFhMjguNDE1IDI4LjQxNSAwIDAgMSAwLTMuMzY0Wm0xLjE5NS01LjgzYTguMDI0IDguMDI0IDAgMCAwLTQuNzU4IDQuNzU4Yy4yNjUtLjExNC41NDQtLjIxOS44MzMtLjMxNWExNy4xOTEgMTcuMTkxIDAgMCAxIDIuOTQtLjY3Yy4xNTgtMS4wOTIuMzg2LTIuMDg4LjY3LTIuOTQuMDk2LS4yOS4yMDEtLjU2OC4zMTUtLjgzM201LjUxIDBjLjExNC4yNjUuMjE5LjU0NC4zMTUuODMzLjI4NC44NTIuNTEyIDEuODQ4LjY3IDIuOTQgMS4wOTIuMTU4IDIuMDg4LjM4NiAyLjk0LjY3LjI5LjA5Ni41NjguMjAxLjgzMy4zMTVhOC4wMjMgOC4wMjMgMCAwIDAtNC43NTgtNC43NThNMTIgNGMtLjEzOSAwLS4zMTIuMjM3LS4zODIuMzI2LS4yNi4zMy0uNTM5Ljg3LS43OSAxLjYyNmExNC40MzcgMTQuNDM3IDAgMCAwLS41MSAyLjA5OCAyOC40MTUgMjguNDE1IDAgMCAxIDMuMzY0IDAgMTQuNDM3IDE0LjQzNyAwIDAgMC0uNTEtMi4wOThjLS4yNTEtLjc1Ni0uNTMtMS4yOTUtLjc5LTEuNjI2QzEyLjMxMiA0LjIzNiAxMi4xNCA0IDEyIDQnLz48L2c+PC9zdmc+');
}

body[data-scheme="dark"] .chatgpt-summary {
    color: #fff;
    background-color: var(--color-primary, #3858F6);
}

body[data-scheme="dark"] .chatgpt-summary .summary-title {
    color: #fff;
}

body[data-scheme="dark"] .chatgpt-summary .summary-title small {
    opacity: .4;
}

body[data-scheme="dark"] .chatgpt-summary .summary-content {
    background-color: rgb(0 0 0 / 17%);
}

body[data-scheme="dark"] .chatgpt-summary .summary-icon {
    opacity: .8;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0Jz48ZyBmaWxsPSdub25lJyBmaWxsLXJ1bGU9J2V2ZW5vZGQnPjxwYXRoIGQ9J00yNCAwdjI0SDBWMHpNMTIuNTkzIDIzLjI1OGwtLjAxMS4wMDItLjA3MS4wMzUtLjAyLjAwNC0uMDE0LS4wMDQtLjA3MS0uMDM1Yy0uMDEtLjAwNC0uMDE5LS4wMDEtLjAyNC4wMDVsLS4wMDQuMDEtLjAxNy40MjguMDA1LjAyLjAxLjAxMy4xMDQuMDc0LjAxNS4wMDQuMDEyLS4wMDQuMTA0LS4wNzQuMDEyLS4wMTYuMDA0LS4wMTctLjAxNy0uNDI3Yy0uMDAyLS4wMS0uMDA5LS4wMTctLjAxNy0uMDE4bS4yNjUtLjExMy0uMDEzLjAwMi0uMTg1LjA5My0uMDEuMDEtLjAwMy4wMTEuMDE4LjQzLjAwNS4wMTIuMDA4LjAwNy4yMDEuMDkzYy4wMTIuMDA0LjAyMyAwIC4wMjktLjAwOGwuMDA0LS4wMTQtLjAzNC0uNjE0Yy0uMDAzLS4wMTItLjAxLS4wMi0uMDItLjAyMm0tLjcxNS4wMDJhLjAyMy4wMjMgMCAwIDAtLjAyNy4wMDZsLS4wMDYuMDE0LS4wMzQuNjE0YzAgLjAxMi4wMDcuMDIuMDE3LjAyNGwuMDE1LS4wMDIuMjAxLS4wOTMuMDEtLjAwOC4wMDQtLjAxMS4wMTctLjQzLS4wMDMtLjAxMi0uMDEtLjAxeicvPjxwYXRoIGZpbGw9JyNGRkZGRkZGRicgZmlsbC1ydWxlPSdub256ZXJvJyBkPSdNMTIgMmM1LjUyMyAwIDEwIDQuNDc3IDEwIDEwcy00LjQ3NyAxMC0xMCAxMFMyIDE3LjUyMyAyIDEyIDYuNDc3IDIgMTIgMm0xLjY4MyAxMy45NWEyOC40NSAyOC40NSAwIDAgMS0zLjM2NiAwYy4xMzYuNzg2LjMwOSAxLjQ5NC41MSAyLjA5OC4yNTIuNzU2LjUzIDEuMjk2Ljc5IDEuNjI2LjA4OC4xMS4yMjMuMzI2LjM4NS4zMjYuMTQ1LS4wMTMuMzAyLS4yMjcuMzgtLjMyNi4yNi0uMzMuNTM5LS44Ny43OS0xLjYyNmExNC4zNSAxNC4zNSAwIDAgMCAuNTEtMi4wOThabTUuODMtMS4xOTVjLS4yNjUuMTE0LS41NDQuMjE5LS44MzMuMzE1LS44NTIuMjg0LTEuODQ4LjUxMi0yLjk0LjY3YTE3LjE5MSAxNy4xOTEgMCAwIDEtLjY3IDIuOTRjLS4wOTYuMjktLjIwMS41NjgtLjMxNS44MzNhOC4wMjMgOC4wMjMgMCAwIDAgNC43NTgtNC43NThtLTE1LjAyNiAwYTguMDIzIDguMDIzIDAgMCAwIDQuNzU4IDQuNzU4IDEwLjU2NyAxMC41NjcgMCAwIDEtLjMxNS0uODMzIDE3LjE5MSAxNy4xOTEgMCAwIDEtLjY3LTIuOTQgMTcuMTkxIDE3LjE5MSAwIDAgMS0yLjk0LS42N2MtLjI5LS4wOTYtLjU2OC0uMjAxLS44MzMtLjMxNW01LjU4NS00LjY4M2EyNS41MjggMjUuNTI4IDAgMCAwIDAgMy44NTZjMS4yODIuMDk3IDIuNTc0LjA5NyAzLjg1NiAwYTI1LjUzNyAyNS41MzcgMCAwIDAgMC0zLjg1NiAyNS41MjYgMjUuNTI2IDAgMCAwLTMuODU2IDBtNS44NzguMjQ1YTI4LjQ1IDI4LjQ1IDAgMCAxIDAgMy4zNjYgMTQuNDM4IDE0LjQzOCAwIDAgMCAyLjA5OC0uNTFjLjc1Ni0uMjUyIDEuMjk2LS41MyAxLjYyNi0uNzkuMTEtLjA4Ny4zMjYtLjIyNC4zMjYtLjM4NS0uMDEzLS4xNDUtLjIyNy0uMzAyLS4zMjYtLjM4LS4zMy0uMjYtLjg3LS41MzktMS42MjYtLjc5YTE0LjQzOCAxNC40MzggMCAwIDAtMi4wOTgtLjUxWm0tNy45IDBjLS43ODYuMTM2LTEuNDkzLjMwOS0yLjA5OC41MS0uNzU2LjI1Mi0xLjI5NS41My0xLjYyNi43OS0uMjQuMTktLjMxMi4zMzMtLjMyMy4zNjgtLjA0NS4xNS4yMy4zMjMuMzIzLjM5Ny4zMy4yNi44Ny41MzkgMS42MjYuNzkuNjA1LjIwMiAxLjMxMi4zNzUgMi4wOTguNTFhMjguNDE1IDI4LjQxNSAwIDAgMSAwLTMuMzY0Wm0xLjE5NS01LjgzYTguMDI0IDguMDI0IDAgMCAwLTQuNzU4IDQuNzU4Yy4yNjUtLjExNC41NDQtLjIxOS44MzMtLjMxNWExNy4xOTEgMTcuMTkxIDAgMCAxIDIuOTQtLjY3Yy4xNTgtMS4wOTIuMzg2LTIuMDg4LjY3LTIuOTQuMDk2LS4yOS4yMDEtLjU2OC4zMTUtLjgzM201LjUxIDBjLjExNC4yNjUuMjE5LjU0NC4zMTUuODMzLjI4NC44NTIuNTEyIDEuODQ4LjY3IDIuOTQgMS4wOTIuMTU4IDIuMDg4LjM4NiAyLjk0LjY3LjI5LjA5Ni41NjguMjAxLjgzMy4zMTVhOC4wMjMgOC4wMjMgMCAwIDAtNC43NTgtNC43NThNMTIgNGMtLjEzOSAwLS4zMTIuMjM3LS4zODIuMzI2LS4yNi4zMy0uNTM5Ljg3LS43OSAxLjYyNmExNC40MzcgMTQuNDM3IDAgMCAwLS41MSAyLjA5OCAyOC40MTUgMjguNDE1IDAgMCAxIDMuMzY0IDAgMTQuNDM3IDE0LjQzNyAwIDAgMC0uNTEtMi4wOThjLS4yNTEtLjc1Ni0uNTMtMS4yOTUtLjc5LTEuNjI2QzEyLjMxMiA0LjIzNiAxMi4xNCA0IDEyIDQnLz48L2c+PC9zdmc+');
}

@media (prefers-color-scheme: dark) {
    body[data-scheme="auto"] .chatgpt-summary {
        color: #fff;
        background-color: var(--color-primary, #3858F6);
    }

    body[data-scheme="auto"] .chatgpt-summary .summary-title {
        color: #fff;
    }

    body[data-scheme="auto"] .chatgpt-summary .summary-title small {
        opacity: .4;
    }

    body[data-scheme="auto"] .chatgpt-summary .summary-content {
        background-color: rgb(0 0 0 / 17%);
    }

    body[data-scheme="auto"] .chatgpt-summary .summary-icon {
        opacity: .8;
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0Jz48ZyBmaWxsPSdub25lJyBmaWxsLXJ1bGU9J2V2ZW5vZGQnPjxwYXRoIGQ9J00yNCAwdjI0SDBWMHpNMTIuNTkzIDIzLjI1OGwtLjAxMS4wMDItLjA3MS4wMzUtLjAyLjAwNC0uMDE0LS4wMDQtLjA3MS0uMDM1Yy0uMDEtLjAwNC0uMDE5LS4wMDEtLjAyNC4wMDVsLS4wMDQuMDEtLjAxNy40MjguMDA1LjAyLjAxLjAxMy4xMDQuMDc0LjAxNS4wMDQuMDEyLS4wMDQuMTA0LS4wNzQuMDEyLS4wMTYuMDA0LS4wMTctLjAxNy0uNDI3Yy0uMDAyLS4wMS0uMDA5LS4wMTctLjAxNy0uMDE4bS4yNjUtLjExMy0uMDEzLjAwMi0uMTg1LjA5My0uMDEuMDEtLjAwMy4wMTEuMDE4LjQzLjAwNS4wMTIuMDA4LjAwNy4yMDEuMDkzYy4wMTIuMDA0LjAyMyAwIC4wMjktLjAwOGwuMDA0LS4wMTQtLjAzNC0uNjE0Yy0uMDAzLS4wMTItLjAxLS4wMi0uMDItLjAyMm0tLjcxNS4wMDJhLjAyMy4wMjMgMCAwIDAtLjAyNy4wMDZsLS4wMDYuMDE0LS4wMzQuNjE0YzAgLjAxMi4wMDcuMDIuMDE3LjAyNGwuMDE1LS4wMDIuMjAxLS4wOTMuMDEtLjAwOC4wMDQtLjAxMS4wMTctLjQzLS4wMDMtLjAxMi0uMDEtLjAxeicvPjxwYXRoIGZpbGw9JyNGRkZGRkZGRicgZmlsbC1ydWxlPSdub256ZXJvJyBkPSdNMTIgMmM1LjUyMyAwIDEwIDQuNDc3IDEwIDEwcy00LjQ3NyAxMC0xMCAxMFMyIDE3LjUyMyAyIDEyIDYuNDc3IDIgMTIgMm0xLjY4MyAxMy45NWEyOC40NSAyOC40NSAwIDAgMS0zLjM2NiAwYy4xMzYuNzg2LjMwOSAxLjQ5NC41MSAyLjA5OC4yNTIuNzU2LjUzIDEuMjk2Ljc5IDEuNjI2LjA4OC4xMS4yMjMuMzI2LjM4NS4zMjYuMTQ1LS4wMTMuMzAyLS4yMjcuMzgtLjMyNi4yNi0uMzMuNTM5LS44Ny43OS0xLjYyNmExNC4zNSAxNC4zNSAwIDAgMCAuNTEtMi4wOThabTUuODMtMS4xOTVjLS4yNjUuMTE0LS41NDQuMjE5LS44MzMuMzE1LS44NTIuMjg0LTEuODQ4LjUxMi0yLjk0LjY3YTE3LjE5MSAxNy4xOTEgMCAwIDEtLjY3IDIuOTRjLS4wOTYuMjktLjIwMS41NjgtLjMxNS44MzNhOC4wMjMgOC4wMjMgMCAwIDAgNC43NTgtNC43NThtLTE1LjAyNiAwYTguMDIzIDguMDIzIDAgMCAwIDQuNzU4IDQuNzU4IDEwLjU2NyAxMC41NjcgMCAwIDEtLjMxNS0uODMzIDE3LjE5MSAxNy4xOTEgMCAwIDEtLjY3LTIuOTQgMTcuMTkxIDE3LjE5MSAwIDAgMS0yLjk0LS42N2MtLjI5LS4wOTYtLjU2OC0uMjAxLS44MzMtLjMxNW01LjU4NS00LjY4M2EyNS41MjggMjUuNTI4IDAgMCAwIDAgMy44NTZjMS4yODIuMDk3IDIuNTc0LjA5NyAzLjg1NiAwYTI1LjUzNyAyNS41MzcgMCAwIDAgMC0zLjg1NiAyNS41MjYgMjUuNTI2IDAgMCAwLTMuODU2IDBtNS44NzguMjQ1YTI4LjQ1IDI4LjQ1IDAgMCAxIDAgMy4zNjYgMTQuNDM4IDE0LjQzOCAwIDAgMCAyLjA5OC0uNTFjLjc1Ni0uMjUyIDEuMjk2LS41MyAxLjYyNi0uNzkuMTEtLjA4Ny4zMjYtLjIyNC4zMjYtLjM4NS0uMDEzLS4xNDUtLjIyNy0uMzAyLS4zMjYtLjM4LS4zMy0uMjYtLjg3LS41MzktMS42MjYtLjc5YTE0LjQzOCAxNC40MzggMCAwIDAtMi4wOTgtLjUxWm0tNy45IDBjLS43ODYuMTM2LTEuNDkzLjMwOS0yLjA5OC41MS0uNzU2LjI1Mi0xLjI5NS41My0xLjYyNi43OS0uMjQuMTktLjMxMi4zMzMtLjMyMy4zNjgtLjA0NS4xNS4yMy4zMjMuMzIzLjM5Ny4zMy4yNi44Ny41MzkgMS42MjYuNzkuNjA1LjIwMiAxLjMxMi4zNzUgMi4wOTguNTFhMjguNDE1IDI4LjQxNSAwIDAgMSAwLTMuMzY0Wm0xLjE5NS01LjgzYTguMDI0IDguMDI0IDAgMCAwLTQuNzU4IDQuNzU4Yy4yNjUtLjExNC41NDQtLjIxOS44MzMtLjMxNWExNy4xOTEgMTcuMTkxIDAgMCAxIDIuOTQtLjY3Yy4xNTgtMS4wOTIuMzg2LTIuMDg4LjY3LTIuOTQuMDk2LS4yOS4yMDEtLjU2OC4zMTUtLjgzM201LjUxIDBjLjExNC4yNjUuMjE5LjU0NC4zMTUuODMzLjI4NC44NTIuNTEyIDEuODQ4LjY3IDIuOTQgMS4wOTIuMTU4IDIuMDg4LjM4NiAyLjk0LjY3LjI5LjA5Ni41NjguMjAxLjgzMy4zMTVhOC4wMjMgOC4wMjMgMCAwIDAtNC43NTgtNC43NThNMTIgNGMtLjEzOSAwLS4zMTIuMjM3LS4zODIuMzI2LS4yNi4zMy0uNTM5Ljg3LS43OSAxLjYyNmExNC40MzcgMTQuNDM3IDAgMCAwLS41MSAyLjA5OCAyOC40MTUgMjguNDE1IDAgMCAxIDMuMzY0IDAgMTQuNDM3IDE0LjQzNyAwIDAgMC0uNTEtMi4wOThjLS4yNTEtLjc1Ni0uNTMtMS4yOTUtLjc5LTEuNjI2QzEyLjMxMiA0LjIzNiAxMi4xNCA0IDEyIDQnLz48L2c+PC9zdmc+');
    }

}